services:
  caddy: # HTTP server to serve Packwiz files locally
    image: caddy:2
    ports:
      - "8083:80"
    volumes:
      - "./Caddyfile:/etc/caddy/Caddyfile:ro"
      - "caddy_data:/data"
      - ".:/usr/share/caddy:ro"
  minecraft:
    image: itzg/minecraft-server
    depends_on:
      - caddy
    ports:
      - "25565:25565"
    volumes:
      - "./tmp/server:/data"
    environment:
      EULA: "true"
      DIFFICULTY: normal
      FABRIC_LOADER_VERSION: "0.18.3"
      ICON: http://caddy/images/big-globe@64.png
      MEMORY: "12G"
      MOTD: "Perkpack: Big Globe dev"
      OPS_FILE: https://s3.amazonaws.com/minecraft/allowlists/blolol.ops.json
      PACKWIZ_URL: http://caddy/pack.toml
      REMOVE_OLD_DATAPACKS: "true"
      SPAWN_PROTECTION: 0
      TYPE: FABRIC
      USE_AIKAR_FLAGS: "true"
      VERSION: "1.21.10"
volumes:
  caddy_data:
